body {
    margin: 0;
    font-family: Helvetica;
}

.wrapper {
    background-color: #dddddd;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 0;
    padding: 10px;
}

.board-wrapper {
    margin: 5px;
}

.board-timing {
    float: left;
    margin: 10px 10px 0 0;
    background-color: #eeeeee;
    border: 1px solid black;
    padding: 5px;
}

.board-timing .title {
    font-size: 2em;
}

.board-timing .percentage {
    font-size: 5em;
}

.board-timing .text {
    font-size: 1.3em;
}


.summary-wrapper {
}

.settings-wrapper {
    width: 40%;
    background-color: #cccccc;
    border: 1px solid black;
}

.settings-wrapper .board-selector {
    margin: 10px 5px;

}

.settings-wrapper .board-selector input {
    margin-left: 5px;
}
